{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "importOrder": [
    "^@infrastructure(.*)$",
    "^@domain(.*)$",
    "^@usecase(.*)$",
    "^@routes(.*)$",
    "^@utils(.*)$",
    "^@repository(.*)$",
    "^@app(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
